{% extends "testapp/base.html" %}
{% block content %}
<div class="container">
  <div class="center">
    <h1>初めまして！</h1>
    <p class="lead">Bootstrap4を使っています。</p>
  </div>
</div><!-- /.container -->


         <!--blog -->
<div class="container">
  <div class="center">
    <h1><a>Libra's Topic</a></h1>
      {% for post in posts %}
    <div>
        <p >投稿日時: {{ post.published_date }}</p>
        <h1><a href="{% url 'blog:blog_post' pk=post.pk %}">{{ post.title }}</a></h1>
        <p class="lead">{{ post.text|truncatewords_html:10}}...</p>
    </div>
{% endfor %}
  <h1 class="btn btn-info"><a href="{% url 'blog:blog'%}">もっと見る</a></h1>
  </div>
</div>

{% endblock %}